IMY210/exam/xsd/example1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="l">
	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="notes">
					<xs:complexType>
						<xs:sequence>
							
							<xs:element name="toos">
							</xs:element>
							
							<xs:element name="from">
							</xs:element>
							
							<xs:element name="heading">
							</xs:element>
							
							<xs:element name="body">
							</xs:element>
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
